header,body,label,input,h2,span,ol,li{margin: 0;padding: 0;}
body,html{
  background-color: #CCFF99;
  width: 100%;height: 100%;overflow: hidden;
}
ol li{
  list-style: none;
}
html{font-size: 62.5%;}
header{
  height: 20%;
  width: 100%;
  background-color: black;
  color:white;
  text-align: center;
  line-height: 2;
  margin-bottom: 20px;
}
@media screen and (max-width: 640px) {
  header{
    height: 30%;
  }
  header label{
    font-size: 1.6rem !important;
  }
}
header label{
  font-size: 2.4rem;
  width: 20%;display: inline-block;
  vertical-align: middle;
}
header input{
  border: none;
  width: 50%;
  height: 2.4rem;
  vertical-align: middle;
  border-radius: 0.2rem;
}
header input:focus{
  box-shadow: 0px 0px 10px white;
}
ol,h2{
  width: 70%;margin: 0 auto;
}
ol li{margin-left:2rem; 
  margin-top: 0.5rem;
  height: 3rem;
  font-size: 1.6rem;
  line-height: 3rem;
  width: 70%;
  color: black;
  background-color: white;
  border-radius: 0.6rem ;
  padding: 0 1rem;
  position: relative;
}
.index{
  display: none;
}
.check{
  margin: 0 4px;
}
.cancle{
  background-color: gray;
  display: inline-block;
  height: 2rem;
  width: 2rem;
  border-radius: 2rem;
  vertical-align: middle;
  position: absolute;
  right: 1rem;top: 50%;margin-top: -1rem;
}
